<div class="cart-empty">
  <div>
  {%- render 'svg-icons' with 'thb-cart-empty' -%}
  <p class="h4">{{ 'sections.cart.empty' | t }}</p>
  </div>
  <a href="{{ routes.root_url }}" class="button"><span>{{ 'general.continue_shopping' | t }}</span></a>
</div>