{%- liquid
  assign has_promotions = false
  assign mega_menu_columns = 4
  if mega_menu_block.settings.cta_1_heading or mega_menu_block.settings.cta_2_heading or mega_menu_block.settings.cta_3_heading or mega_menu_block.settings.cta_4_heading
    assign has_promotions = true
    assign mega_menu_columns = 3
  endif
-%}
<div class="sub-menu mega-menu-container" tabindex="-1" style="--mega-menu-columns: {{ mega_menu_columns }}">
  <div class="mega-menu-container--inner {%- if has_promotions %} mega-menu-container--inner-has-promotions{% endif %}">
    {% render 'header-mega-menu-columns', link: link %}
    {% if has_promotions %}
      {% assign block_settings = mega_menu_block.settings %}
      <div class="mega-menu-promotions">
        {%- if block_settings.cta_1_heading != blank -%}
          {% render 'header-full-menu-cta', cta_heading: block_settings.cta_1_heading, cta_content: block_settings.cta_1_content, cta_link: block_settings.cta_1_link, cta_color: block_settings.cta_1_color %}
        {%- endif -%}
        {%- if block_settings.cta_2_heading != blank -%}
          {% render 'header-full-menu-cta', cta_heading: block_settings.cta_2_heading, cta_content: block_settings.cta_2_content, cta_link: block_settings.cta_2_link, cta_color: block_settings.cta_2_color %}
        {%- endif -%}
        {%- if block_settings.cta_3_heading != blank -%}
          {% render 'header-full-menu-cta', cta_heading: block_settings.cta_3_heading, cta_content: block_settings.cta_3_content, cta_link: block_settings.cta_3_link, cta_color: block_settings.cta_3_color %}
        {%- endif -%}
        {%- if block_settings.cta_4_heading != blank -%}
          {% render 'header-full-menu-cta', cta_heading: block_settings.cta_4_heading, cta_content: block_settings.cta_4_content, cta_link: block_settings.cta_4_link, cta_color: block_settings.cta_4_color %}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</div>