<div class="theme-scroll-nav">
  <button class="flickity-nav flickity-prev" tabindex="0" aria-label="Previous" name="prev"{% if disabled %} disabled{% endif %}>{%- render 'svg-icons' with 'carousel-prev' -%}</button>
  <button class="flickity-nav flickity-next" tabindex="0" aria-label="Next" name="next"{% if disabled %} disabled{% endif %}>{%- render 'svg-icons' with 'carousel-next' -%}</button>
</div>