{%- liquid
	assign section_heading = section.settings.heading
	assign columns_desktop = section.settings.columns_desktop
	assign section_blog = section.settings.blog
	assign post_limit = section.settings.post_limit
	assign show_view_all = section.settings.show_view_all
	assign show_date = section.settings.show_date
	assign show_excerpt = section.settings.show_excerpt
	assign image_ratio = section.settings.image_ratio
	assign marker_color = section.settings.marker_color
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing

	if section_blog != blank and show_view_all and post_limit < section_blog.articles_count
		assign section_heading_button_blog = section_blog
	endif

	assign columns_desktop = columns_desktop | at_least: 3
	assign columns_tablet = columns_desktop | minus: 2 | at_most: 3 | at_least: 2
-%}
<div class="row">
	<div class="small-12 columns">
		<div
			class="blog-posts section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}"
			style="--desktop-columns: {{ columns_desktop }}; --tablet-columns: {{ columns_tablet }};">
			{% render 'section-header', section_heading: section_heading, section_description: section_description, section_heading_button_blog: section_heading_button_blog, marker_color: marker_color %}
			<theme-scroll class="theme-scroll" data-overlayscrollbars-initialize>
				<div class="theme-scroll--inner blog-posts--inner">
					{%- if section_blog and blogs[section_blog].articles.size > 0 -%}
						{%- for article in blogs[section_blog].articles limit: post_limit -%}
							{%- render 'blog-post', article: article, show_date: show_date, show_excerpt: show_excerpt, image_ratio: image_ratio, class: "carousel__slide" -%}
						{%- endfor -%}
					{%- else -%}
						{%- assign placeholder_array = "1,2,3,4,5,6" | split: ',' -%}
						{%- for item in placeholder_array limit: post_limit -%}
							{%- render 'blog-post', article: false, show_date: show_date, show_excerpt: show_excerpt, image_ratio: image_ratio, class: "carousel__slide" -%}
						{%- endfor -%}
					{%- endif -%}
				</div>
				{% render 'slideshow-arrows', disabled: true %}
			</theme-scroll>
		</div>
	</div>
</div>
{{ 'blog.css' | asset_url | stylesheet_tag }}
{% schema %}
  {
    "name": "Blog posts",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Latest News",
				"info": "Wrap your text between | to add highlight markers. For example: Highlight |marker| will highlight the marker text."
      },
      {
         "type": "blog",
         "id": "blog",
         "label": "Blog"
      },
			{
	      "type": "range",
	      "id": "post_limit",
	      "min": 2,
	      "max": 4,
	      "step": 1,
	      "default": 3,
	      "label": "Number of blog posts to show"
	    },
			{
	      "type": "range",
	      "id": "columns_desktop",
	      "min": 2,
	      "max": 4,
	      "step": 1,
	      "default": 3,
	      "label": "Number of columns on desktop"
	    },
			{
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "Adapt to image"
          },
          {
            "value": "portrait",
            "label": "Portrait"
          },
          {
            "value": "square",
            "label": "Square"
          },
					{
            "value": "landscape",
            "label": "Landscape"
          }
        ],
        "default": "landscape",
        "label": "Image ratio"
      },
			{
				"type": "checkbox",
				"id": "show_date",
				"default": true,
				"label": "Show date"
			},
			{
				"type": "checkbox",
				"id": "show_excerpt",
				"default": true,
				"label": "Show excerpt"
			},
	    {
	      "type": "checkbox",
	      "id": "show_view_all",
	      "default": true,
	      "label": "Enable \"View all\" button if blog includes more blog posts than shown"
	    },
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "marker_color",
				"label": "Highlight",
				"default": "#FD6262"
			},
			{
        "type": "header",
        "content": "Spacing"
      },
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
    ],
    "presets": [
      {
        "name": "Blog posts"
      }
    ]
  }

{% endschema %}
