{%- liquid
	assign section_heading = section.settings.heading
	assign section_article = section.settings.article
	assign show_date = section.settings.show_date
	assign show_excerpt = section.settings.show_excerpt
	assign marker_color = section.settings.marker_color
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
-%}
<div class="row">
	<div class="small-12 columns">
		<div class="blog-posts section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}">
			{% render 'section-header', section_heading: section_heading, section_description: section_description, marker_color: marker_color %}
				{% if section_article != blank %}
		      {% render 'blog-post-large', article: section_article, show_date: show_date, show_excerpt: show_excerpt %}
				{% else %}
					{% render 'blog-post-large', article: false, show_date: show_date, show_excerpt: show_excerpt %}
		    {% endif %}
		</div>
	</div>
</div>
{{ 'blog.css' | asset_url | stylesheet_tag }}
{% schema %}
  {
    "name": "Featured blog post",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Featured post",
				"info": "Wrap your text between | to add highlight markers. For example: Highlight |marker| will highlight the marker text."
      },
      {
         "type": "article",
         "id": "article",
         "label": "Article"
      },
			{
				"type": "checkbox",
				"id": "show_date",
				"default": true,
				"label": "Show date"
			},
			{
				"type": "checkbox",
				"id": "show_excerpt",
				"default": true,
				"label": "Show excerpt"
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "marker_color",
				"label": "Highlight",
				"default": "#FD6262"
			},
			{
        "type": "header",
        "content": "Spacing"
      },
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
    ],
    "presets": [
      {
        "name": "Featured blog post"
      }
    ]
  }

{% endschema %}
