


.announcement-bar--inner {
  padding: 0 15px;
  max-width: var(--grid-width-row, 1430px);
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 768px) {
    .announcement-bar--inner {
      padding: 0 40px; } }

.social-links {
  list-style: none;
  margin: 0;
  padding: 0; }
  .social-links li {
    margin-bottom: 5px; }
    .social-links li a {
      display: inline-flex;
      align-items: center;
      width: 32px;
      height: 32px;
      justify-content: center; }
  .social-links svg {
    width: 16px;
    height: auto;
    flex-shrink: 0; }
  .social-links span {
    margin-left: 15px; }

.header-announcement-bar-section {
  position: relative;
  z-index: 51; }

.announcement-bar {
  display: flex;
  margin: 0;
  color: var(--color-announcement-bar-text);
  background: var(--color-announcement-bar-bg);
  font-size: 0.75rem;
  min-height: 34px;
  padding: 5px 0;
  align-items: center;
  --color-body: var(--color-announcement-bar-text); }
  .announcement-bar a {
    color: var(--color-announcement-bar-text); }
  @media only screen and (min-width: 768px) {
    .announcement-bar {
      padding: 1px 0; } }
  .announcement-bar--hidden {
    display: none; }
    @media only screen and (min-width: 768px) {
      .announcement-bar--hidden {
        display: flex; } }
    .announcement-bar--hidden .announcement-bar--inner {
      grid-template-columns: auto auto; }
  .announcement-bar--inner {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 15px; }
    @media only screen and (min-width: 768px) {
      .announcement-bar--inner {
        grid-template-columns: 1fr auto 1fr; } }
    .announcement-bar--inner > div {
      align-items: center; }
    .announcement-bar--inner p {
      margin-bottom: 0;
      line-height: 1.2; }
  .announcement-bar--full-width .announcement-bar--inner {
    max-width: 100%; }
  .announcement-bar--center {
    display: flex;
    text-align: center;
    justify-content: center; }
  .announcement-bar--left, .announcement-bar--right {
    display: none; }
    @media only screen and (min-width: 768px) {
      .announcement-bar--left, .announcement-bar--right {
        display: flex; } }
  .announcement-bar--right {
    justify-content: flex-end;
    text-align: right; }
    .announcement-bar--right > * {
      flex-shrink: 0;
      margin-left: 15px; }
  .announcement-bar .select {
    margin: 0; }
  .announcement-bar select {
    background: var(--color-announcement-bar-bg);
    color: var(--color-announcement-bar-text); }
  .announcement-bar .social-links {
    display: inline-flex; }
    .announcement-bar .social-links li {
      margin: 0; }
      .announcement-bar .social-links li a {
        width: 32px;
        height: 32px; }
        .announcement-bar .social-links li a svg {
          height: 15px;
          width: auto; }
        .announcement-bar .social-links li a span {
          display: none; }
