

.back-to-top, .back-to-top path {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }



.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: var(--bg-body);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 30;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(70px); }
  @media only screen and (min-width: 1068px) {
    .back-to-top {
      bottom: 30px;
      right: 30px; } }
  .back-to-top.back-to-top--active {
    transform: translateY(0px); }
  .back-to-top svg {
    overflow: visible;
    transform: translateY(1px); }
  .back-to-top--handle {
    transform: translateY(4px); }
  .back-to-top--bar {
    opacity: 0;
    transform-origin: bottom center;
    transform: scale(1, 0) translateY(8px); }
  .back-to-top:hover .back-to-top--handle, .back-to-top:focus .back-to-top--handle {
    transform: translateY(0px); }
  .back-to-top:hover .back-to-top--bar, .back-to-top:focus .back-to-top--bar {
    opacity: 1;
    transform-origin: top center;
    transform: scale(1, 1) translateY(0); }
