

.active-facets__button svg {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }


.facets--bar {
  display: block;
  margin-bottom: 25px;
  font-size: 0.875rem;
  z-index: 45; }
  .facets--bar label,
  .facets--bar .label {
    margin-bottom: 0; }
  .facets--bar-left {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center; }
  .facets--bar-right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    text-align: right;
    justify-content: flex-end; }
  .facets--bar-compare {
    display: inline-flex;
    align-items: center;
    gap: 15px; }
    .facets--bar-compare label {
      font-weight: var(--font-body-medium-weight, 500); }
    .facets--bar-compare input {
      margin: 0; }
  .facets--bar-view-as {
    display: none;
    align-items: center; }
    @media only screen and (min-width: 768px) {
      .facets--bar-view-as {
        display: inline-flex; } }
    .facets--bar-view-as .label {
      margin-right: 15px;
      font-weight: var(--font-body-medium-weight, 500); }
    .facets--bar-view-as-button {
      padding: 6px;
      line-height: 0;
      opacity: 0.4; }
      .facets--bar-view-as-button:disabled {
        opacity: 1; }
  .facets--bar .facets-toggle {
    display: inline-flex;
    color: var(--color-body);
    grid-column: 1 / 3; }
    @media only screen and (min-width: 768px) {
      .facets--bar .facets-toggle {
        display: none; } }
  .facets--bar .sidebar-toggle {
    display: none;
    font-size: inherit;
    align-items: center;
    color: var(--color-body);
    font-weight: var(--font-body-medium-weight, 500);
    height: 24px; }
    @media only screen and (min-width: 768px) {
      .facets--bar .sidebar-toggle {
        display: inline-flex; } }
    .facets--bar .sidebar-toggle svg {
      width: 14px;
      height: auto;
      margin-right: 10px; }
  .facets--bar .thb-filter-sort {
    padding-left: 20px;
    margin-right: 30px;
    position: relative;
    display: none; }
    @media only screen and (min-width: 768px) {
      .facets--bar .thb-filter-sort {
        display: inline-flex; } }
    .facets--bar .thb-filter-sort:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      height: 28px;
      margin-top: -14px;
      width: 1px;
      background-color: var(--color-border); }
    [dir="rtl"] .facets--bar .thb-filter-sort {
      margin-right: 0;
      margin-left: 30px; }
    .facets--bar .thb-filter-sort .select {
      display: none;
      margin: 0; }
      @media only screen and (min-width: 1068px) {
        .facets--bar .thb-filter-sort .select {
          display: block; } }
      .facets--bar .thb-filter-sort .select-arrow {
        right: 0; }
    .facets--bar .thb-filter-sort label {
      font-weight: var(--font-body-medium-weight, 500);
      margin-right: 10px; }
    .facets--bar .thb-filter-sort select {
      background: none;
      font-size: inherit;
      height: auto;
      padding-left: 0;
      padding-top: 3px;
      padding-bottom: 3px; }
  .facets--bar .facets__label {
    font-size: inherit;
    margin: 0 0 0 30px; }
  .facets--bar-inner {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    padding: 15px 0;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border); }
    @media only screen and (min-width: 768px) {
      .facets--bar-inner {
        gap: 20px; } }
    [dir="rtl"] .facets--bar-inner {
      grid-template-columns: 1fr auto; }
  .facets--bar .active-facets:not(:empty) {
    margin-top: 10px; }
  .facets--bar .active-facets__button-remove {
    margin-top: 6px; }

.facets-desktop-container {
  display: none; }
  .facets-desktop-container .thb-filter-count .loading-overlay {
    left: auto;
    right: 0; }
  .facets-desktop-container .facets__form {
    position: sticky;
    top: 0;
    left: 0;
    height: 100dvh;
    scrollbar-width: none; }
    .header-sticky--active .facets-desktop-container .facets__form {
      top: var(--header-height, 0);
      height: calc(100vh - var(--header-height, 0)); }

.facets__label {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-right: 30px;
  letter-spacing: 0.1em; }

.facets .thb-filter-count {
  margin: 0 0 0 30px; }
  .facets .thb-filter-count .facets__label {
    margin: 0; }

.facets .thb-filter {
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  position: relative; }
  .facets .thb-filter-title {
    position: relative;
    font-weight: var(--font-body-medium-weight, 500);
    line-height: 1;
    display: flex;
    padding: 17px 0;
    align-items: center;
    cursor: pointer;
    color: var(--color-body); }
    .facets .thb-filter-title span {
      position: relative;
      display: inline-flex;
      width: 12px;
      margin-left: auto; }
      [dir="rtl"] .facets .thb-filter-title span {
        margin-left: 0;
        margin-right: auto; }
    .facets .thb-filter-title::marker, .facets .thb-filter-title::-webkit-details-marker {
      display: none; }
  .facets .thb-filter[open] summary span {
    transform: rotateX(180deg); }
  .facets .thb-filter-content {
    padding-bottom: 20px; }
    .facets .thb-filter-content .count {
      font-size: 0.75rem;
      opacity: 0.6; }
    .facets .thb-filter-content input[type="checkbox"],
    .facets .thb-filter-content input[type="radio"] {
      margin-right: 10px; }
      [dir="rtl"] .facets .thb-filter-content input[type="checkbox"], [dir="rtl"]
      .facets .thb-filter-content input[type="radio"] {
        margin-right: 0;
        margin-left: 10px; }
    .facets .thb-filter-content ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .facets .thb-filter-content ul[filters-open] .thb-filter-content--hidden {
        display: list-item; }
    .facets .thb-filter-content .custom-checkbox[type="checkbox"] {
      width: 48px;
      height: 24px; }
    .facets .thb-filter-content--hidden {
      display: none; }
    .facets .thb-filter-content--button {
      height: auto;
      font-size: 0.75rem; }
  .facets .thb-filter-sort-count {
    display: flex;
    align-items: center;
    margin-left: auto; }
  .facets .thb-filter-sort {
    display: flex;
    align-items: center; }
    .facets .thb-filter-sort .select {
      margin-bottom: 0; }
      .facets .thb-filter-sort .select:after {
        right: 0; }
    .facets .thb-filter-sort select {
      margin-bottom: 0;
      border: 0;
      padding-left: 0;
      font-size: 0.875rem; }
  .facets .thb-filter label.facet-checkbox--disabled {
    cursor: not-allowed;
    opacity: 0.6; }

.facets__mobile_form .thb-filter-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  .facets__mobile_form .thb-filter-sort .thb-filter-title {
    margin: 0; }
  .facets__mobile_form .thb-filter-sort .select {
    border: 0;
    padding: 0;
    margin: 0; }
    .facets__mobile_form .thb-filter-sort .select select {
      padding-left: 0;
      border: 0;
      height: auto; }

.price_range .price-highest {
  display: block;
  font-size: 0.8125rem;
  margin-bottom: 15px; }

.price_range .price_slider_amount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px; }
  .price_range .price_slider_amount > div {
    display: flex;
    align-items: center; }
    .price_range .price_slider_amount > div .field-currency {
      font-size: 0.8125rem;
      margin-right: 5px; }
      [dir="rtl"] .price_range .price_slider_amount > div .field-currency {
        margin-right: 0;
        margin-left: 5px; }
  .price_range .price_slider_amount input {
    box-sizing: border-box;
    margin-bottom: 0;
    height: 44px;
    padding: 12px 16px;
    font-size: 0.8125rem;
    flex: 1;
    width: 0; }
    .price_range .price_slider_amount input::placeholder {
      color: rgba(var(--color-body-rgb), 0.3); }

.price_slider {
  touch-action: none;
  user-select: none;
  padding: 0 9px; }
  .price_slider_wrapper {
    display: block;
    width: 100%; }
  .price_slider * {
    touch-action: none;
    user-select: none; }
  .price_slider .noUi-base,
  .price_slider .noUi-connects {
    height: 3px;
    background: var(--color-border);
    position: relative;
    margin-bottom: 25px; }
  .price_slider .noUi-connect {
    height: 100%;
    width: 100%;
    background: var(--color-accent); }
  .price_slider .noUi-origin {
    height: 0;
    width: 100%; }
  .price_slider .noUi-connect,
  .price_slider .noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform-style: preserve-3d;
    transform-style: flat; }
  .price_slider.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 0;
    right: auto; }
  .price_slider .noUi-handle {
    display: block;
    outline: none;
    position: absolute;
    top: -7px;
    right: -9px;
    width: 17px;
    height: 17px;
    border: 1px solid var(--color-accent);
    background: #fff;
    border-radius: 50%;
    backface-visibility: hidden;
    cursor: pointer; }
    .price_slider .noUi-handle .noUi-touch-area {
      height: 100%;
      width: 100%; }
    .price_slider .noUi-handle:focus-visible {
      outline: 2px solid #015ecc;
      outline-offset: 2px; }
  .price_slider.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
    left: -9px;
    right: auto; }
  .price_slider.noUi-rtl .noUi-value-horizontal {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%); }

@media only screen and (min-width: 768px) {
  .facet-drawer {
    transform: translateX(-100%);
    right: auto;
    left: 0; } }

.facet-drawer .side-panel-inner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh; }
  @supports (height: 100dvh) {
    .facet-drawer .side-panel-inner {
      height: calc(100dvh - 50px); } }

.facet-drawer .side-panel-content {
  overflow-y: auto; }

.facet-drawer .side-panel-footer {
  gap: 7px;
  display: grid; }

.facet-drawer .facets__mobile_form collapsible-row:last-child .thb-filter {
  border-bottom: 0; }

.thb-filter-count.loading .facets__label {
  opacity: 0; }

.thb-filter-count .facets__label {
  margin: 0;
  font-size: 0.75rem; }

.thb-filter-count .loading-overlay {
  width: 18px;
  height: 18px;
  left: auto;
  right: 0; }

.mobile-filter-count.loading .facets__label {
  opacity: 0; }

.mobile-filter-count .loading-overlay {
  width: 18px;
  height: 18px;
  right: 0;
  left: 0;
  transform: translateY(-50%); }

.active-facets {
  display: block;
  font-size: 0.6875rem; }
  .active-facets__button {
    height: 33px;
    display: inline-flex;
    align-items: center;
    padding: 10px 16px;
    margin: 0 6px 6px 0;
    font-size: 0.75rem;
    background-color: rgba(var(--color-body-rgb), 0.05);
    --color-accent: var(--color-body); }
    [dir="rtl"] .active-facets__button {
      padding: 3px 10px 3px 0; }
    .active-facets__button span {
      margin-left: 8px;
      display: flex; }
      [dir="rtl"] .active-facets__button span {
        margin: 0 8px 0 0; }
    .active-facets__button svg {
      width: 8px;
      height: 8px; }
    .active-facets__button:hover svg {
      transform: scale(1.1); }
  .active-facets__button-remove {
    font-size: 0.75rem;
    margin-left: 13px;
    margin-bottom: 14px;
    height: auto;
    line-height: 1.1; }
    .active-facets__button-remove:only-child {
      display: none; }

.thb-filter ul label .thb-filter-text {
  flex: 1 1 auto; }

.thb-filter ul li {
  margin-bottom: 6px;
  width: 100%;
  line-height: 1; }
  .thb-filter ul li label {
    width: 100%;
    padding: 0 0 4px;
    margin-bottom: 0; }
  .thb-filter ul li .count {
    padding-left: 10px;
    margin-left: auto; }

.thb-filter ul.list-color label:before {
  background-color: var(--bg-color, "black");
  background-image: var(--option-color-image);
  background-size: cover; }

.sidebar-container {
  display: block;
  grid-gap: clamp(0px, 4.5%, 30px); }
  .sidebar-container.facets--sidebar {
    --sidebar-max-size: 255px; }
    @media only screen and (min-width: 768px) {
      .sidebar-container.facets--sidebar {
        display: grid; } }
    .sidebar-container.facets--sidebar.facets--sidebar-open.facets--sidebar-small {
      --sidebar-max-size: 230px; }
    .sidebar-container.facets--sidebar.facets--sidebar-open.facets--sidebar-large {
      --sidebar-max-size: 280px; }
    @media only screen and (min-width: 768px) {
      .sidebar-container.facets--sidebar.facets--sidebar-open {
        grid-template-columns: clamp(230px, 22%, var(--sidebar-max-size, 255px)) 1fr; } }
    .sidebar-container.facets--sidebar.results--0 {
      grid-template-columns: 1fr; }
    @media only screen and (min-width: 768px) {
      .sidebar-container.facets--sidebar .facets-toggle {
        display: none; } }
  .sidebar-container.facets--sidebar-open .facets-desktop-container {
    display: none;
    min-height: 65px; }
    @media only screen and (min-width: 768px) {
      .sidebar-container.facets--sidebar-open .facets-desktop-container {
        display: block; } }
  @media only screen and (min-width: 1068px) {
    .sidebar-container.facets--sidebar-open .sidebar-container--products {
      border-left: 1px solid var(--color-border);
      padding-left: 30px; } }
  @media only screen and (min-width: 1068px) {
    .sidebar-container.facets--sidebar-false .sidebar-container--products {
      border-left: 0;
      padding-left: 0; } }
  .sidebar-container .products.collection.row {
    padding: 0; }
