


.section-multicolumn {
  overflow: hidden; }

.multicolumn--column h4 {
  margin-bottom: 8px; }

.multicolumn--column p {
  margin-bottom: 12px;
  font-size: 0.9375rem; }

.multicolumn--column .text-button {
  margin-right: 0; }

.multicolumn--image {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 28px;
  max-width: 100%; }
  .multicolumn--image--inner {
    position: relative;
    padding-bottom: var(--ratio-percent); }
    .multicolumn--image--inner.aspect-ratio--portrait {
      padding-bottom: 125%; }
    .multicolumn--image--inner.aspect-ratio--square, .multicolumn--image--inner.aspect-ratio--circle {
      padding-bottom: 100%; }
    .multicolumn--image--inner.aspect-ratio--circle {
      border-radius: 50%; }
    .multicolumn--image--inner img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.multicolumn--inner {
  --column-gap: 10px;
  display: grid;
  gap: var(--column-gap);
  grid-auto-flow: column;
  grid-auto-columns: minmax(var(--mobile-swipe-width), 1fr);
  overflow-x: auto;
  scroll-snap-type: x mandatory; }
  @media only screen and (min-width: 768px) {
    .multicolumn--inner {
      --column-gap: 20px;
      grid-auto-columns: calc((100% - (var(--column-gap) * calc(var(--tablet-columns) - 1))) / var(--tablet-columns)); } }
  @media only screen and (min-width: 1068px) {
    .multicolumn--inner {
      --column-gap: 20px;
      grid-auto-columns: calc((100% - (var(--column-gap) * calc(var(--desktop-columns) - 1))) / var(--desktop-columns)); } }
  .multicolumn--inner .multicolumn--column {
    scroll-snap-align: center;
    margin-bottom: 0; }

.multicolumn.text-center .rte {
  padding: 0 15px; }
