


.thb-predictive-search {
  display: block;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  z-index: 90;
  background-color: var(--bg-body);
  border-radius: var(--general-border-radius, 3px);
  font-size: 0.875rem;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px var(--color-border); }
  .thb-predictive-search[inert] {
    display: none; }
  .thb-predictive-search.loading .thb-predictive-search--container {
    opacity: 0.5;
    pointer-events: none; }
  .thb-predictive-search .loading-overlay {
    width: 21px;
    height: 21px; }
  .thb-predictive-search--container {
    overflow-y: auto;
    max-height: calc(100vh - calc(var(--header-height, 0px) + var(--header-offset, 0px) + 50px)); }
  .thb-predictive-search--label {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--bg-body);
    font-style: normal;
    font-weight: var(--font-body-medium-weight, 500);
    font-size: 0.75rem;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 13px 20px;
    border-bottom: 1px solid var(--color-border);
    color: rgba(var(--color-header-text-rgb, --color-body-rgb), 0.6);
    border-radius: var(--general-border-radius, 3px) var(--general-border-radius, 3px) 0 0; }
    .thb-predictive-search--label.z-2 {
      z-index: 2; }
    .thb-predictive-search--label.z-3 {
      z-index: 3; }
    .thb-predictive-search--label.z-4 {
      z-index: 4; }
  .thb-predictive-search--content {
    padding: 19px 20px;
    border-bottom: 1px solid var(--color-border);
    display: grid;
    gap: 20px;
    grid-auto-flow: row; }
    .thb-predictive-search--content-small {
      gap: 10px; }
    .thb-predictive-search--content:last-child {
      border-bottom: 0; }
    .thb-predictive-search--content .highlight {
      font-weight: var(--font-body-medium-weight, 500); }
    .thb-predictive-search--content > a {
      display: inline-flex;
      align-items: center;
      line-height: 1.4; }
      .thb-predictive-search--content > a svg {
        width: 12px;
        height: auto;
        margin-right: 7px; }
  .thb-predictive-search--collection {
    display: flex;
    grid-gap: 20px;
    align-items: center; }
    .thb-predictive-search--collection img {
      width: 64px;
      height: auto; }
  .thb-predictive-search--footer {
    text-align: center;
    padding: 13px 20px;
    border-top: 1px solid var(--color-border); }
    .thb-predictive-search--footer .text-button {
      font-size: inherit; }
  .thb-predictive-search .product-cart-item {
    margin: 0;
    max-width: 100%; }
  .thb-predictive-search--meta {
    display: block;
    font-size: 0.75rem;
    opacity: 0.6; }
  .thb-predictive-search .product-cart-item img,
  .thb-predictive-search .product-cart-item .thb-placeholder {
    width: 64px; }
  .thb-predictive-search .cart-product-link,
  .thb-predictive-search .price {
    font-size: 0.875rem; }
