@charset "UTF-8";


.product-card .product-card-image .product-secondary-images-nav li, .product-card-compare-text, .product-card-quickview, .product-card-quickview span, .product-card-quickview .quick-view-icon path, .product-card-swatches .product-card-swatch {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }

.no-js .product-card-quickview {
  display: none !important; }


.products {
  list-style: none; }
  .products.carousel {
    min-width: 100%;
    padding: 0;
    --mobile-columns: 2;
    --column-gap: 8px;
    display: grid;
    row-gap: 20px;
    column-gap: var(--column-gap);
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (var(--column-gap) * calc(var(--mobile-columns) - 1))) / var(--mobile-columns));
    scroll-snap-type: x mandatory; }
    .products.carousel .product-card {
      flex-shrink: 0;
      height: 100%; }
    @media only screen and (min-width: 768px) {
      .products.carousel {
        --column-gap: 20px;
        --mobile-columns: var(--tablet-columns); } }
    @media only screen and (min-width: 1068px) {
      .products.carousel {
        --mobile-columns: var(--desktop-columns); } }
    .products.carousel .carousel__slide {
      scroll-snap-align: start; }
      .products.carousel .carousel__slide .product-card-promotion {
        min-height: 100%; }
    .products.carousel .product-card-promotion {
      margin-bottom: 0; }
  .products.grid {
    min-width: 100%;
    padding: 0;
    --mobile-columns: 2;
    --column-gap: 8px;
    display: grid;
    row-gap: 20px;
    column-gap: var(--column-gap);
    grid-template-columns: repeat(var(--mobile-columns), 1fr); }
    .products.grid .product-card {
      flex-shrink: 0;
      height: auto;
      margin-bottom: 0;
      min-height: 100%; }
    @media only screen and (min-width: 768px) {
      .products.grid {
        --column-gap: 20px;
        --mobile-columns: var(--tablet-columns); } }
    @media only screen and (min-width: 1068px) {
      .products.grid {
        --mobile-columns: var(--desktop-columns); } }
    @media only screen and (max-width: 767px) {
      .swipe-on-mobile .products.grid {
        grid-auto-flow: column;
        grid-auto-columns: calc((100% - (var(--column-gap) * calc(var(--mobile-columns) - 1))) / var(--mobile-columns));
        scroll-snap-type: x mandatory;
        grid-template-columns: none; } }
  @media only screen and (min-width: 1068px) {
    .products.row {
      margin: 0 -10px; }
      .products.row .columns {
        padding: 0 10px; } }
  @media only screen and (min-width: 768px) {
    [data-layout=list] .products.row .columns {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%; } }
  .products.loading {
    position: relative; }
    .products.loading .columns {
      opacity: 0.5; }
    .products.loading .loading-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      transform: none; }
      .products.loading .loading-overlay--sticky {
        position: sticky;
        top: calc(var(--header-height, 0px) + var(--header-offset, 0px) + 100px);
        display: inline-block;
        left: 0;
        height: 42px;
        padding: 20% 0;
        text-align: center;
        width: 100%; }
        .products.loading .loading-overlay--sticky svg {
          position: static;
          width: 42px;
          height: 42px; }

.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  min-height: calc(100% - 20px); }
  @media only screen and (min-width: 768px) {
    .product-card {
      margin-bottom: 40px;
      min-height: calc(100% - 40px); } }
  .product-card--border-true {
    border: 1px solid var(--color-border);
    padding: 10px; }
    @media only screen and (min-width: 768px) {
      .product-card--border-true {
        margin-bottom: 20px;
        min-height: calc(100% - 20px); } }
  .carousel .product-card {
    margin-bottom: 0; }
  [data-layout=list] .product-card {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      [data-layout=list] .product-card {
        flex-direction: row;
        gap: 30px;
        min-height: 0; }
        [data-layout=list] .product-card .product-card-info {
          flex-direction: row;
          align-items: center;
          justify-content: space-between; }
          [data-layout=list] .product-card .product-card-info--bottom {
            margin-top: 0; }
        [data-layout=list] .product-card .product-card-image {
          width: 200px;
          margin-bottom: 0; } }
  .product-card-info {
    line-height: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .product-card-info > *:last-child {
      margin-bottom: 0; }
    .product-card-info--bottom {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: auto; }
      .product-card-info--bottom-disabled {
        display: none; }
        [data-layout=list] .product-card-info--bottom-disabled {
          display: flex; }
    .product-card-info--inner > *:last-child {
      margin-bottom: 0; }
  .product-card.text-center .product-card-info {
    padding: 0 5%; }
  .product-card .product-card-image {
    margin-bottom: 15px;
    position: relative;
    z-index: 0; }
    @media only screen and (min-width: 768px) {
      .product-card .product-card-image {
        margin-bottom: 20px; } }
    @media (hover: hover) {
      .product-card .product-card-image.thb-hover .product-card-image-link:hover .product-primary-image {
        opacity: 0; } }
    .product-card .product-card-image .product-secondary-images-nav {
      list-style: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      margin: 0;
      padding: 0;
      z-index: 20;
      opacity: 0;
      justify-content: center;
      transition: all 0.25s linear; }
      .product-card .product-card-image .product-secondary-images-nav li {
        display: inline-flex;
        background: rgba(var(--color-body-rgb), 0.1);
        flex: 1;
        height: 4px;
        pointer-events: none; }
        .product-card .product-card-image .product-secondary-images-nav li.active {
          background: var(--color-accent); }
    .product-card .product-card-image-link {
      display: block;
      position: relative;
      height: 0;
      overflow: hidden;
      padding-bottom: var(--padding-bottom); }
      .product-card .product-card-image-link img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 5; }
      .product-card .product-card-image-link .thb-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .product-card .product-card-image-link .product-secondary-image {
        display: none;
        z-index: 10; }
        .product-card .product-card-image-link .product-secondary-image.hover {
          display: block; }
  .product-card-vendor {
    text-transform: uppercase;
    font-size: 0.6875rem;
    margin-bottom: 8px; }
    .product-card-vendor a {
      color: rgba(var(--color-body-rgb), 0.4); }
  .product-card-title {
    font-size: calc(var(--font-product-title-scale, 1) * 1rem);
    line-height: calc(var(--font-product-title-line-height-scale, 1) * 1.5);
    display: block;
    margin-bottom: 6px; }
    .product-title-uppercase-true .product-card-title {
      text-transform: uppercase; }
  .product-card-compare {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 40; }
    .product-card-compare input {
      margin-right: 0; }
      .product-card-compare input + label:before {
        background-color: var(--bg-body);
        margin-right: 0;
        border: 1px solid rgba(var(--color-body-rgb), 0.25); }
      .product-card-compare input:checked + label:before {
        border-color: var(--color-accent); }
    .product-card-compare-text {
      position: absolute;
      left: 50%;
      bottom: calc(100% + 6px);
      transform: translateX(-50%);
      background-color: var(--color-body);
      color: var(--bg-body);
      white-space: nowrap;
      font-size: 0.75rem;
      padding: 3px 6px;
      border-radius: 1px;
      opacity: 0;
      pointer-events: none; }
      .product-card-compare-text:after {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 3px 2.5px 0 2.5px;
        border-color: var(--color-body) transparent transparent transparent;
        transform: translateX(-2.5px);
        position: absolute;
        bottom: -3px;
        left: 50%; }
    .product-card-compare:hover .product-card-compare-text {
      opacity: 1; }
    .compare-true .product-card-compare {
      display: block; }
  .product-card-quickview {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 40;
    background: var(--color-accent);
    border-radius: 3px;
    height: 30px;
    display: flex;
    opacity: 0;
    cursor: pointer; }
    .product-card-quickview + .product-card-quickview {
      top: 50px; }
    .product-card-quickview > svg {
      width: 30px;
      height: 30px;
      padding: 9px; }
    .product-card-quickview span {
      max-width: 0;
      overflow: hidden;
      line-height: 30px;
      font-size: 0.6875rem;
      font-weight: 400;
      padding-right: 0;
      white-space: nowrap;
      color: var(--bg-body); }
    .product-card-quickview .spinner {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      opacity: 0; }
      .product-card-quickview .spinner circle {
        stroke: var(--bg-body); }
    .product-card-quickview .quick-view-icon path {
      stroke: var(--bg-body); }
    .product-card-quickview.loading > svg {
      opacity: 0; }
      .product-card-quickview.loading > svg + .spinner {
        opacity: 1; }
    .product-card-quickview:hover span, .product-card-quickview:focus span {
      max-width: 94px;
      padding-right: 9px; }
      [dir="rtl"] .product-card-quickview:hover span, [dir="rtl"] .product-card-quickview:focus span {
        padding-left: 15px;
        padding-right: 2px; }
    .product-card-quickview[disabled] {
      cursor: not-allowed; }
  .product-card .price {
    margin-bottom: 10px; }
    @media only screen and (min-width: 768px) {
      .product-card .price.large-price {
        font-size: 1.25rem; } }
    .product-card .price + .product-card-title {
      margin-top: -5px; }
  .product-card--badges {
    position: absolute;
    z-index: 30;
    display: flex;
    flex-direction: column;
    gap: 5px; }
    .product-card--badges.top {
      top: 0; }
    .product-card--badges.left {
      left: 0;
      align-items: flex-start; }
    .product-card--badges.right {
      right: 0;
      align-items: flex-end; }
  .product-card .product-inventory-notice {
    margin-bottom: 0; }
    .product-card .product-inventory-notice--wrapper {
      margin-bottom: 10px; }
    .product-card .product-inventory-notice--text {
      margin-bottom: 0; }
    .product-card .product-inventory-notice--pulse {
      margin-right: 8px; }
      .product-card .product-inventory-notice--pulse:after {
        content: none; }
  .product-card-subtitle {
    font-size: 0.8125rem;
    color: rgba(var(--color-body-rgb), 0.8);
    margin-bottom: 10px; }
  .product-card-swatches {
    display: grid;
    align-items: start;
    grid-gap: 5px;
    grid-template-columns: repeat(var(--size, 3), 1fr); }
    .product-card-swatches .product-card-swatch {
      display: inline-flex;
      margin: 0;
      width: 26px;
      height: 26px;
      border-radius: var(--general-border-radius, 3px);
      padding: 3px;
      position: relative;
      cursor: pointer;
      text-indent: -999em; }
      .product-card-swatches .product-card-swatch:before {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        background-color: var(--option-color);
        background-image: var(--option-color-image);
        background-size: cover;
        border-radius: calc(var(--general-border-radius, 3px) - 2px); }
      .product-card-swatches .product-card-swatch-input {
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0); }
        .product-card-swatches .product-card-swatch-input + .product-card-swatch:after {
          top: 7px;
          left: 10px;
          display: none; }
        .product-card-swatches .product-card-swatch-input:checked + .product-card-swatch {
          box-shadow: 0 0 0 1px var(--color-body) inset; }
          .product-card-swatches .product-card-swatch-input:checked + .product-card-swatch:before {
            background-color: var(--option-color);
            background-image: var(--option-color-image); }
          .product-card-swatches .product-card-swatch-input:checked + .product-card-swatch--variant:before {
            background-color: transparent; }
        .product-card-swatches .product-card-swatch-input:focus + .product-card-swatch:after {
          display: block; }
    .product-card-swatches--container {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px; }
    .product-card-swatches--remaining {
      font-size: 0.75rem; }
  .product-card--add-to-cart-button {
    width: 100%; }
  .product-card--view-details {
    display: none; }
    [data-layout=list] .product-card--view-details {
      display: flex; }
  .product-card--label-container {
    margin-top: 10px; }
  .product-card .star-rating-container {
    font-size: 0.75rem;
    margin-bottom: 10px; }
    .product-card .star-rating-container .star-rating {
      font-size: 0.8125rem; }
  @media (hover: hover) {
    .product-card:hover .product-secondary-images-nav,
    .product-card:hover .product-card-quickview {
      opacity: 1; } }

.collection-empty {
  text-align: center;
  padding: 10vh; }
  .collection-empty svg {
    margin-bottom: 30px; }
  .collection-empty .text-button {
    font-size: inherit; }
  .collection-empty p {
    font-size: 1.25rem; }



.star-rating {
  --star-percent: calc(var(--star-rating) / 5 * 100%);
  display: inline-block;
  font-size: 1rem;
  font-family: Times;
  line-height: 1; }
  .star-rating:before {
    content: "★★★★★";
    background: linear-gradient(90deg, var(--color-star) var(--star-percent), #e1e1e1 var(--star-percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .star-rating-container {
    font-size: 0.625rem;
    line-height: 0;
    color: var(--color-accent);
    display: flex;
    align-items: center; }
    .star-rating-container .star-rating {
      margin-right: 12px; }


.product-card--label {
  font-size: 0.6875rem;
  padding: 6px 10px;
  line-height: 1.2;
  border-radius: var(--general-border-radius, 3px);
  background-color: rgba(var(--color-body-rgb), 0.05); }
  .product-card--label-container {
    display: flex;
    grid-gap: 5px;
    flex-wrap: wrap; }
