


.product--related-categories {
  margin-bottom: 20px; }
  .product--related-categories-inner {
    display: flex;
    gap: 8px;
    flex-wrap: wrap; }

.product--related-category {
  display: inline-flex;
  border-radius: var(--general-border-radius, 3px);
  padding: 5px;
  border: 1px solid var(--color-border);
  gap: 5px;
  min-height: 40px;
  font-size: 0.875rem;
  line-height: 1;
  align-items: center; }
  .product--related-category img {
    width: 30px;
    height: 30px;
    object-fit: cover; }
  .product--related-category span {
    margin: 0 10px; }
  .product--related-category:hover {
    border-color: var(--color-body); }
