

.flickity-nav, .flickity-nav svg {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }

.no-js .flickity-nav {
  display: none !important; }





.flickity-nav, .flickity-nav svg {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }

.no-js .flickity-nav {
  display: none !important; }


/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  min-width: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform; }


.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }


.flickity-enabled.is-fade .flickity-slider > * {
  pointer-events: none;
  z-index: 0; }

.flickity-enabled.is-fade .flickity-slider > .is-selected {
  pointer-events: auto;
  z-index: 10; }

.flickity-enabled.is-fade .flickity-slider .carousel__slide {
  will-change: opacity, z-index; }


.flickity-page-dots {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0;
  margin: 0 10px;
  list-style: none; }
  @media only screen and (min-width: 768px) {
    .flickity-page-dots {
      gap: 12px; } }
  .flickity-page-dots .dot {
    width: 7px;
    height: 3px;
    border-radius: 1.5px;
    margin: 0;
    opacity: 0.5;
    background-color: var(--color-body);
    cursor: pointer; }
    @media only screen and (min-width: 768px) {
      .flickity-page-dots .dot {
        width: 14px;
        height: 6px;
        border-radius: 3px; } }
    .flickity-page-dots .dot.is-selected {
      opacity: 1;
      width: 14px; }
      @media only screen and (min-width: 768px) {
        .flickity-page-dots .dot.is-selected {
          width: 32px; } }

.flickity-nav {
  background: var(--bg-body, #fff);
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 46px;
  height: 46px;
  margin-top: -23px;
  z-index: 30;
  cursor: pointer;
  border: 1px solid var(--color-body); }
  .flickity-nav svg {
    pointer-events: none; }
  @media only screen and (min-width: 768px) {
    .flickity-enabled .flickity-nav {
      display: flex; } }
  .flickity-nav[isDisabled] {
    display: none; }
  .flickity-nav.flickity-prev {
    left: -23px; }
    .flickity-nav.flickity-prev svg {
      margin-right: 1px; }
  .flickity-nav.flickity-next {
    right: -23px; }
    .flickity-nav.flickity-next svg {
      margin-left: 1px; }
  .flickity-nav:focus-visible {
    opacity: 1; }
  .flickity-nav:hover {
    --color-body: var(--color-accent); }

.flickity-enabled:hover .flickity-nav {
  opacity: 1; }


.inline-badge {
  font-size: 0.8125rem;
  background-color: var(--badge-bg, #FFE1DF);
  color: var(--badge-text, #652C2C);
  display: inline-flex;
  margin-bottom: 20px;
  padding: 8px 12px;
  height: 32px;
  align-items: center;
  border-radius: 0 12px 0 12px;
  font-weight: var(--font-body-medium-weight, 500); }

.section-slideshow .row.full-width-row {
  padding: 0; }
  .section-slideshow .row.full-width-row > .columns {
    padding: 0; }

.slideshow {
  display: flex;
  overflow: hidden;
  background: rgba(var(--color-body-rgb), 0.05); }
  .slideshow__slide {
    display: flex;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: rgba(var(--color-body-rgb), 0.05);
    position: relative;
    color: var(--color-body); }
    @media only screen and (min-width: 1068px) {
      .slideshow__slide p.description-size--medium {
        font-size: 1.125rem; } }
    @media only screen and (min-width: 1068px) {
      .slideshow__slide p.description-size--large {
        font-size: 1.25rem; } }
    .slideshow__slide-inner {
      display: flex;
      flex-shrink: 0;
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: 15;
      max-width: var(--grid-width-row, 1430px);
      transform: translateX(-50%);
      padding: 15px; }
      @media only screen and (min-width: 768px) {
        .slideshow__slide-inner {
          padding: 40px; } }
      .slideshow__slide-inner.content-top-left {
        justify-content: flex-start;
        align-items: flex-start; }
      .slideshow__slide-inner.content-top-center {
        justify-content: center;
        align-items: flex-start; }
      .slideshow__slide-inner.content-top-right {
        justify-content: flex-end;
        align-items: flex-start; }
      .slideshow__slide-inner.content-middle-left {
        justify-content: flex-start;
        align-items: center; }
      .slideshow__slide-inner.content-middle-center {
        justify-content: center;
        align-items: center; }
      .slideshow__slide-inner.content-middle-right {
        justify-content: flex-end;
        align-items: center; }
      .slideshow__slide-inner.content-bottom-left {
        justify-content: flex-start;
        align-items: flex-end; }
      .slideshow__slide-inner.content-bottom-center {
        justify-content: center;
        align-items: flex-end; }
      .slideshow__slide-inner.content-bottom-right {
        justify-content: flex-end;
        align-items: flex-end; }
    .slideshow__slide-adapt-to-image {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      width: 100%; }
      .slideshow__slide-adapt-to-image .placeholder_svg_tag {
        width: 100%;
        height: 550px;
        padding: 50px; }
    .slideshow__slide-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: var(--bg-body); }
      .slideshow__slide-bg svg,
      .slideshow__slide-bg img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .slideshow__slide-video-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      z-index: 5; }
      .slideshow__slide-video-bg > video {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .slideshow__slide-video-bg iframe {
        position: absolute;
        z-index: 1;
        width: 300%;
        height: 150%;
        top: -25%;
        left: -100%; }
        @media only screen and (min-width: 768px) {
          .slideshow__slide-video-bg iframe {
            width: 200%;
            height: 200%;
            left: -50%;
            top: -50%; } }
        @media only screen and (min-width: 1068px) {
          .slideshow__slide-video-bg iframe {
            width: 150%;
            height: 300%;
            left: -25%;
            top: -100%; } }
    .slideshow__slide-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      top: 0;
      z-index: 11;
      pointer-events: none;
      background: rgba(var(--overlay-color-rgb), var(--overlay-opacity)); }
    .slideshow__slide-content {
      z-index: 20;
      max-width: 500px;
      width: 100%;
      position: relative; }
      .slideshow__slide-content-link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 21; }
      .slideshow__slide-content > *:last-child {
        margin-bottom: 0; }
    .slideshow__slide-heading {
      color: var(--color-body); }
    .slideshow__slide.content-size-medium .slideshow__slide-content {
      max-width: 640px; }
    .slideshow__slide.content-size-large .slideshow__slide-content {
      max-width: 780px; }
    .slideshow__slide:not(.is-selected) iframe {
      display: none; }
  @media only screen and (min-width: 768px) {
    .slideshow.desktop-height-image .slideshow__slide {
      height: auto; }
      .slideshow.desktop-height-image .slideshow__slide .slideshow__slide-bg img {
        object-fit: contain; } }
  @media only screen and (max-width: 767px) {
    .slideshow.mobile-height-image .slideshow__slide {
      height: auto; }
      .slideshow.mobile-height-image .slideshow__slide .slideshow__slide-bg img {
        object-fit: contain; } }
  @media only screen and (max-width: 767px) {
    .slideshow.mobile-height-full .flickity-viewport {
      height: calc(100vh - var(--announcement-height, 0px)); }
      @supports (height: 100dvh) {
        .slideshow.mobile-height-full .flickity-viewport {
          height: calc(100dvh - var(--announcement-height, 0px)); } } }
  @media only screen and (min-width: 768px) {
    .slideshow.desktop-height-full .flickity-viewport {
      height: calc(100vh - var(--announcement-height, 0px)); }
      @supports (height: 100dvh) {
        .slideshow.desktop-height-full .flickity-viewport {
          height: calc(100dvh - var(--announcement-height, 0px)); } } }
  .slideshow .flickity-viewport {
    min-height: 100%;
    max-height: 100%; }

.flickity-custom-navigation {
  height: 32px;
  display: inline-flex;
  align-items: center;
  z-index: 10;
  margin: 10px 0; }
  .flickity-custom-navigation-wrapper {
    position: absolute;
    bottom: 0;
    z-index: 40;
    width: 100%;
    max-width: var(--grid-width, 1350px);
    display: flex;
    left: 50%;
    transform: translateX(-50%); }
    .flickity-custom-navigation-wrapper--center {
      justify-content: center; }
    .flickity-custom-navigation-wrapper--right {
      justify-content: flex-end; }
    .flickity-custom-navigation-wrapper--left {
      justify-content: flex-start; }
  .flickity-custom-navigation .flickity-nav {
    display: flex;
    position: static;
    width: 28px;
    height: 28px;
    opacity: 1;
    margin: 0;
    background-color: transparent;
    border-color: transparent; }
    @media only screen and (min-width: 768px) {
      .flickity-custom-navigation .flickity-nav {
        width: 32px;
        height: 32px; } }
    .flickity-custom-navigation .flickity-nav:hover {
      --color-body: inherit; }

.slideshow-image--mobile {
  display: block; }
  @media only screen and (min-width: 768px) {
    .slideshow-image--mobile {
      display: none; } }

.slideshow-image--desktop {
  display: none; }
  @media only screen and (min-width: 768px) {
    .slideshow-image--desktop {
      display: block; } }
